.builder/
.docker/deploy/scripts/scripts/
.docker/temp/
.scannerwork/
.sonarlint/
build/
gendocs/
!gendocs/build.xml
secrets/
target/

.vscode/profile.json
progress.cfg
progress*.cfg

~*
*.e
*.hex
*.lg
*.log
