.builder/
.docker/deploy/scripts/scripts/
.docker/temp/
.scannerwork/
.sonarlint/
build/
doc/MyDB/
gendocs/
!gendocs/build.xml
secrets/
target/

.vscode/profile.json
progress.cfg
progress*.cfg

~*
*.e
*.hex
*.ini
*.log
*.options
*.out
ablunit.json
results.xml
doc/db.xml
